@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-position: -60px center;
  border: 1px solid black;
  height: 800px;
}

.right-card {
  width: 600px;
  padding-left: 150px;
  height: 800px;
}

.img {
  margin-top: 4rem;  
  margin-bottom: 8rem;

}

.header h1 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: hsl(0, 6%, 24%);
}

.header h1 span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

p {
    font-size: 16px;
    color: hsl(0, 36%, 70%);
    line-height: 1.5rem;
    margin-top: 20px;
    max-width: 400px;
    margin-bottom: 40px;
}
input {
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 21px;
}    

.left-card{
    height: 800px;

}
footer{
  padding-top: 20px;
  text-decoration: none;
}